<h1>Online Insuranec Forms application</h1>

<h2>About the application</h2>

<p>Main intention of this application is related to insurance.</p>

<p>There are 3 type of users in this application. Here is over all functionality of the application for each user:</p>

<ol>
<li><p>Super admin: </p>

<p>1.1  Super admin maintains the details about the clients. Clients are the intermediaries who sell policies to the policy holders. </p>

<p>1.2 We maintain details of forms in super admin. Forms will contain questions that needs to be answered by the polocy holder when he/she makes a claim. </p>

<p>1.3 We also maintain the email templates etc from the application.</p>

<p>Super admin can be invoked from /super_admin</p>

<p>Super admin creates questions that will be asnwered by the policy holders.</p></li>
<li><p>Insurance Intermediary that will have several admin</p>

<p>Insurance intermediary is the persom from where all the revenue will be comming. He would pay us. Each insurance intermediary will have several admin users who will be able to log-in to our system and will see the forms filled up by the policy holder and then further process it. The intermediary will also be able to import the forms (from word templates) generated from our application.</p>

<p>Note that we do not generate the word files they come to some directory from other application (not ours).</p>

<p>Once the intermediary gets registered; one or more admins will be generated for him. The admins will perform tasks for insurance intermediary. </p>

<p>Accesing / of your application invokes the admin login. /admin also brings the same login page.</p>

<p>Admin can see the answered filled up by the policy holders ( the questions created by the super admin will be answered by the policy holder )</p></li>
<li><p>Policy holder</p>

<p>Policy holder is the person who will fill out the form imported.</p>

<p>Policy holder receives a link in email from which he can use the application without loggin in to the system. Policy holder answers the questions and confirms etc. Policy holder can login also if he/she decides to.</p></li>
</ol>

<h2>Technical Details</h2>

<h3>Models</h3>

<ol>
<li><p>"We have one model for each table. "</p></li>
<li><p>Each Model has a Save method. Which if called would insert the record in the database table.</p></li>
<li><p>Each Model has a get where method which returns an array ob objects of same class. 
Get where method takes an array of arguments according to which we get the results. 
The array needs to be in the form as specified in the documentation at http://ellislab.com/codeigniter/user-guide/database/active_record.html.</p></li>
<li><p>If you want some conversion to be done before save or after save for data in the model you can write the code for it in the before-save() and after_save() method of each model.</p></li>
<li><p>Calling update method on the object of model will cause the record to be updated in the database.</p></li>
<li><p>Each model has a table name attribute which once supplied in the constructor is applied to all the queries in the model. All the queries are of type active record so the "table_name does not need to be prefixed". The prefiex from the database.php will automatically be applied. </p></li>
<li><p>If you want to change nullability of the field while saving in the datbase it can be done from the model itself. You might have to change the before save, after save and from object methods in the model.</p></li>
</ol>

<h4>Here is details of each model and their descrption</h4>

<p>(table names in this document are not prefixed)</p>

<ol>
<li><p>admin_model : </p>

<p>Maps to table: admin. </p>

<p>Descreption: Each insurance intermediary will have several admins 
fo him who will be able to perform tasks for him. 
This model represents the same admin from the database table.</p></li>
<li><p>admin_subscription_kinds_model :</p>

<p>Maps to table: subscription_kinds. </p>

<p>Descreption: There are subscription kinds that the admin can maintain. </p>

<p>This class represents table for maintaining subscription kinds.</p>

<p>Subscription kindss can also be called subscriptio type.</p></li>
<li><p>admin_texts_model : </p>

<p>Maps to table: texts. </p>

<p>Descreption: Represents text that can be maintained. </p>

<p>Texts are associated with admins at the moment.</p></li>
<li><p>claims_files_model : </p>

<p>Maps to table: claim_files. </p>

<p>Descreption: Represents the attachments attached by the policy holder for the claim. </p></li>
<li><p>claims_model :</p>

<p>Maps to table: claims. </p>

<p>Descreption: For each policy holder there would be claim. This model represents the details of that calim. </p></li>
<li><p>client_email_template_model : </p>

<p>Maps to table: client_email_templates. </p>

<p>Descreption: a model that represents the client's (client=intermediary) email template from the database.</p></li>
<li><p>client_subscription_model : </p>

<p>Maps to table: client_subscription. </p>

<p>Descreption: This model represents the details about which client has taken which subscription.</p></li>
<li><p>clients_model : </p>

<p>Maps to table: clients. </p>

<p>Descreption: ach intermediary is known as client.
This model represents the table and mechanism 
for accesing it from the database.</p></li>
<li><p>clients_model : </p>

<p>Maps to table: clients. </p>

<p>Descreption: ach intermediary is known as client.</p></li>
<li><p>forms_answers_details_model : </p>

<p>Maps to table: forms_answers_details. </p>

<p>Descreption: This model represents the table from database that stores the actuals answers given by the s.</p></li>
<li><p>forms_answers_model : </p>

<p>Maps to table: forms_answers. </p>

<p>Descreption: Super admin defines questions and possible answers (if any).</p>

<p>Each question will have many possible answers.</p>

<p>This model represents the possbile answers that the policy holder can select.</p>

<p>New Answers CRUD for answer can be done by admin/super admin.</p></li>
<li><p>forms_categories_model : </p>

<p>Maps to table: forms_categories. </p>

<p>Descreption: Each form will have many categories. This model represents the categories from the database.</p></li>
<li><p>forms_categories_question_answer_model : </p>

<p>Maps to table: forms_categories_answer. </p>

<p>Descreption: This model represents the answer that belong to a question (if the questio is of type single selection/multiple selection).</p></li>
<li><p>forms_categories_question_model</p>

<p>Maps to table: forms_categories_question. </p>

<p>Descreption: This model represents the table that is used to store the questions that belng to a category.</p></li>
<li><p>forms_model :</p>

<p>Maps to table: forms. </p>

<p>Descreption: This class represents the form from the database table.</p>

<p>Each form will have many categories and which in turn have many questions.</p></li>
<li><p>mail_template_model :</p>

<p>Maps to table: admin_email_templates. </p>

<p>Descreption: This class represents the mail templates of super admin.</p></li>
<li><p>policy_holder_model :</p>

<p>Maps to table: policy_holder. </p>

<p>Descreption: Represents policy holder who maked claim. Each policyy holder can have many claims as of now.</p></li>
<li><p>policy_holder_model :</p>

<p>Maps to table: policy_holder. </p>

<p>Descreption: Represents policy holder who maked claim. Each policyy holder can have many claims as of now.</p></li>
<li><p>super_admin_authenticate :</p>

<p>Maps to table: super_admin. </p>

<p>Descreption: A class that represents the super admin. Also used for authentication.</p></li>
<li><p>users_model :</p>

<p>Maps to table: users. </p>

<p>Descreption: Represents the users table. User can be one of these types: policy holder/admin.</p></li>
<li><p>invoices:</p>

<p>At the moment the invoices are generated when a subscription is added.</p></li>
</ol>

<h3>Other Technical Details</h3>

<ol>
<li><p>We have used hooks for checking the login etc.</p>

<p>login_check_hook is used for checking login for user, admin as well as super admin.</p>

<p>claims_check_hook makes sure that the policy holder is not accesing wrong claims.</p></li>
<li><p>Hidden firleds are used for many question and answer related pages. </p></li>
<li><p>To find out the controller from the URL, first guess the controller name from the URL. </p>

<p>If you can not find the appropriate controller then see the routes.</p>

<p>Many Controllers do not have routes and are accessed directly.</p></li>
<li><p>Each controller has afield named default_template_name in the controller. This field is initialized in the constructor. The actual value comes from a helper. If you want to changed the default template then change the name of view in the helper.</p></li>
<li><p>In the controller we load the main template (which is actually a view). And that template in-turn loads the actual page. The name of actual page is passed in the array with name "page_name". Controller renders the template page and the template page actually renders the page intended (the view gets the name of the page from variable page_name)</p></li>
<li><p>Update the helper in order to change the logo on admin side.</p></li>
<li><p>The go to question and go to category (in admin preview, super admin preview and policy holder's answer page) uses hidden fields for determingin the previous question or category. Hidden fields are updated as and when we go to next category and valud of hidden field gets updated when we click back. C:74 in the hidden field says that the category id is 74 where we need to go. Q:58 says that we need to go to question with id 58. All the values are comma separated.</p></li>
</ol>

<h2>Deployment</h2>

<ul>
<li><p>The application can not be deployed directly. In order to put somethings on the server you will have to commit and snc with the git repository. After syncinc with bitbucket you will have to login to the server thru ssh and then execute pull command thru the commandline of ssh. This is the only way to deploy at the server. Onr order to change a single line you will have to commit it and sync it and then have to pull at the server.</p></li>
<li><p>Here are the commands that you can execute in order to deploy to the server.</p></li>
</ul>

<p>IT could be:</p>

<pre><code> ssh root@5.157.80.123

 # enter password of ssh here 

 cd /var/www/online-insurance-forms

 git pull origin master

 # enter password of git repositpry here
</code></pre>

<ul>
<li><p>If the deployment fails because of a file changed at the server, you should see the error message and checkout the file so that it goes to its last committed state and the deployment can be done afterwards.</p>

<p>git checkout folder/file_name.extension</p></li>
</ul>

<h2>Translations</h2>

<p>Schade nummer adviseur = damage number</p>

<p>Polisnummer ( s ) = policy number</p>

<p>Verzekeringsnemer = Policyholder</p>

<p>Adres = Address policy holder</p>

<p>Postcode en woonplaats = zip code city policy holder</p>

<p>Telefoon private = private phone number policy holder</p>

<p>Telefoon werk = business phone number policy holder</p>

<p>Telefoon mobiel = mobile phone number policy holder</p>

<p>Contact me = Neem contact op</p>

<p>Contact Person = Contactpersoon</p>

<p>First name = Voornaam</p>

<p>Last name* = Achternaam</p>

<p>Mail address* = E-mailadres</p>

<p>Company Details = Bedrijfsgegevens</p>

<p>Company name* = Bedrijfsnaam</p>

<p>Street* = Adres</p>

<p>Zip code* = Postcode    </p>

<p>City* = Stad</p>

<p>Mail Address = E-mailadres</p>

<p>Web-site = Website</p>

<p>Fields marked with * are mandatory = Velden met een '*' zijn verplicht om in te vullen</p>

<p>Contact me (button) = Verstuur</p>

<p>List insurances page = Formulieren</p>

<p>Import Date = Datum</p>

<p>Form Number = Nummer</p>

<p>Kind = Soort</p>

<p>Policy Numer = Polisnummer</p>

<p>Mail Send= E-mail verstuurd</p>

<p>Logout = Uitloggen</p>

<p>Mail Address = E-mailadres</p>

<p>Password = Wachtwoord</p>

<p>Password forgot? = Wachtwoord vergeten?</p>

<p>Contact Me = Contact</p>

<p>Login = Inloggen</p>

<p>Subscription Information = Abonnementen</p>

<p>About Us = Over ons</p>

<p>Completed = Afgerond</p>

<p>Search = Zoeken</p>

<p>Filter = Filter</p>

<p>List of insurance forms = Overzicht formulieren</p>

<p>Policy holder = Polishouder</p>

<p>import=importeren</p>

<p>select=Selecteer</p>

<p>List All Forms = Overzicht formulieren</p>

<p>Show entries = Toon rijen</p>

<p>Name = Formuliernaam</p>

<p>Form Code = Code</p>

<p>Categories = Categorieen</p>

<p>Forgot Password = Wachtwoord vergeten</p>

<p>Send password = Verstuur</p>

<p>///</p>

<p>Mail Templates = E-mailsjabloon</p>

<p>Email type = Naam</p>

<p>Customer = Klant</p>

<p>Subject = Onderwerp </p>

<p>Attachment = Bijlage</p>

<p>No attachments yet = Geen bijlage   </p>

<p>Message = Tekst</p>

<p>BCC to administrator = BCC naar beheerder</p>

<p>Save = Opslaan</p>

<p>Cancel = Annuleer</p>

<p>///</p>

<p>List News = Overzicht nieuws</p>

<p>Add News = Toevoegen nieuwsbericht</p>

<p>Title = Titel</p>

<p>Publication Date = Publicatiedatum</p>

<p>Expire Date = Vervaldatum</p>

<p>News Text = Tekst</p>

<p>Current Logo = Huidige logo </p>

<p>New Logo = Logo </p>

<p>Email = E-mailadres</p>

<p>Welcome Text = Welkomstekst</p>

<p>List All Users = Overzicht gebruikers</p>

<p>Name = Naam</p>

<p>Register Date = Registratiedatum</p>

<p>Delete = Verwijderen</p>

<p>Detail of User = Details gebruikers</p>

<p>Active = Actief</p>

<p>Middle Name = Tussenvoegsel</p>

<p>Password = Wachtwoord</p>

<p>Password Confirmation = Wachtwoord (bevestiging)</p>

<p>Handler = Behandelaar</p>

<p>Fields marked with * are mandatory = Velden die gemarkeerd zijn met een * zijn verplicht</p>

<p>Home = Home</p>

<p>Forms = Formulieren</p>

<p>News = Nieuws</p>

<p>Users = Gebruikers</p>

<p>Settings = Instellingen</p>

<p>Mailtemplates = E-mailsjablonen</p>

<p>Add New News = Toevoegen nieuwsber</p>

<p>Publication Date = Publicatedatum   </p>

<p>Edit Forms = Details formulier</p>

<p>Form Tag = Code </p>

<p>Introduction Text = Introductietekst </p>

<p>Closure Text = Afsluitende tekst</p>

<p>Show All questions at once = Toon alle vragen in een keer</p>

<p>List All Categories of schades Form = Overzicht categorien </p>

<p>Sequence = Volgorde</p>

<p>Category Name = Categorienaam</p>

<p>Question = Vragen</p>

<p>Click Here = Klik hier</p>

<p>Add new category = Toevoegen categorie</p>

<p>Back = Terug</p>

<p>Policy Holder Address = Adres</p>

<p>Zip Code = Postcode</p>

<p>Mail Address = E-mailadres  </p>

<p>Private Number = Telefoon</p>

<p>Mobile Number = Mobiele telefoon</p>

<p>Uploaded Files By Policy Holder = Toegevoegde bestanden</p>

<p>Return = Terug</p>

<p>List All Question of categorycde Category in asdf Form = Overzicht vragen van de category <categoryname> </p>

<p>Add New Questions = Toevoegen vraag</p>

<p>Question ID = Vraagnummer</p>

<p>Question = Vraag</p>

<p>Answers = Antwoorden</p>

<h3>In edit/add answer-choice page of super admin and admin:</h3>

<p>Add Answer = Toevoegen antwoord </p>

<p>Answer * = Antwoord</p>

<p>Question/Category no to go to = Ga naar vraag / categorie </p>

<p>None = Geen</p>

<p>To Question = Naar vraag</p>

<p>To Category = Naar categorie</p>
