<span style='color: #000'>430 frames</span>	<span style='color: #900'>26,880 KB</span>	<span style='color: #090'>2,793.91 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />

