.required{
    color: #f44336;
}
.label-error{
    color: #f44336;
    opacity: 1;
    font-size: 12px;
    position: absolute;
    margin: 0;
}
.margin-top-11{
    margin-top:11px !important;
}
.link-button-with-icon {
    padding: 0 10px !important;
}