body {
	margin: 0; padding: 0; font-family: Arial; font-size: 9pt; color: #333;
	text-align: left; background: transparent;
	top: 0px; vertical-align: top;
}

a {
	text-decoration: none; color: #333;
}

img { border:none; }

a:hover {
	text-decoration: underline; color: #00AEEF;
}

a:link {
	color: #333; text-decoration: underline;
}

.formfield {
	background: #fff; margin: 0; padding: 8px 10px;
	border: 1px solid #00AEEF; border-right-width: 1; outline-width: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; border-bottom-right-radius: 5px;
	font: 18px Arial, Helvetica, sans-serif;
}

.tekst {
	margin: 0; padding: 10; font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt; color: #333; text-align: right;
}

.poweredby {
	margin: 0; padding: 10; font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt; color: #333; text-align: right;
}

ul {
	font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333;
	text-align: left;
}

ul a {
	text-decoration: none; color: #333;
}

ul a:hover {
	text-decoration: underline; color: #00AEEF;
}

div.streepjes {
	height: 10px; width: 100%; border-bottom: 1px dotted #999999;
}

div#question {
	margin: auto;
}

div#question a:hover {
	color: #999; text-decoration: none;
}

div#question a {
	text-decoration: none;
}

.but_grijs {
	color: #FFFFFF; font-size: 18px; text-align: center;
	vertical-align: middle; text-shadow: 0 -1px 0 #666;
}

a.but_grijs {
	font-family: Arial, Helvetica, sans-serif; display: block; width: 120px;
	height: 34px; background: transparent url() no-repeat;
	text-decoration: none; color: #FFFFFF; font-size: 16px;
	text-align: center; vertical-align: middle; padding-top: 5px;
}

a.but_grijs:hover {
	background-position: -120px 0; text-decoration: none;
}

a.but_grijs:visited {
	color: #FFF; text-decoration: none;
}

/* Onderwerpen */
div.nav {
	height: auto; margin: 0 auto; padding-top: 0px; padding-left: 0px;
	width: 100%; text-align: left;
}

div.nav ul {
	float: left; list-style: none outside none; padding-left: 0px;
	padding-top: 0px;
}

div.nav ul li {
	float: left;
}

div.nav ul li a {
	font-family: Arial, Helvetica, sans-serif; color: #333333;
	display: block; font-size: 9pt; outline: 0 none; padding-right: 50px;
	padding-bottom: 0px; text-decoration: none;
}

div.nav ul li a:hover {
	color: #999;
}

div.nav ul li a:selected {
	font-weight: bold;
}

div.nav ul li a:unselected2 {
	font-weight: bold; color: #999;
}

/* Schuif menuutje */
.subnav {
	line-height: 18px; font-family: Arial; font-size: 9pt; color: #333;
	text-align: left;
}

.subnav2 {
	line-height: 18px; font-family: Arial; font-size: 9pt; color: #333;
	text-align: left; text-decoration: none !important;
}

a.subnav {
	text-decoration: none;
}

a.subnav:hover {
	text-decoration: underline; color: #666;
}

a.subnav2:hover {
	text-decoration: underline; color: #666;
}

.titel1 {
	color: #666; font-size: 11pt; letter-spacing: -1px; font-weight: bold;
	font-family: SkodaProRegular;
}

.titel2 {
	color: #666; font-size: 11pt; letter-spacing: -1px; font-weight: normal;
	font-family: Arial;
}

/* Skoda */
.subnav_cat {
	line-height: 16px; font-family: SkodaProRegular; color: #666;
	text-align: left; font-size: 11pt; letter-spacing: -1px;
	font-weight: bold;
}

a.subnav_cat {
	text-decoration: none; line-height: 16px; font-family:Arial, Helvetica, sans-serif;
	color: #666; text-align: left; font-size: 11pt; letter-spacing: -1px;
	font-weight: bold;
}

a.subnav_cat:hover {
	text-decoration: underline; color: #404040;
}

div#question {
	margin: auto;
}

div#question a:hover {
	color: #999; text-decoration: none;
}

div#question a {
	text-decoration: none;
}

/* field */
.formfield {
	background: #fff; margin: 0; padding: 8px 10px; border: 1px solid #666;
	border-right-width: 1; outline-width: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; border-bottom-right-radius: 5px;
	font-size: 9pt; font-family: Arial;
}

/* OPMAAK TABEL */
div#titel1 {
	background-image: url(http://admin.mopinion.nl/2.0/img/but_sluit.png);
	position: relative; z-index: 1; font-size: 13pt; font-style: italic;
	color: #F00; height: 42px; width: 44px; top: 25px; left: 25px;
}

a div#titel1 {
	background-image: url(http://admin.mopinion.nl/2.0/img/but_sluit.png);
	border: 0px; text-decoration: none;
}

a:hover div#titel1 {
	background-image: url(http://admin.mopinion.nl/2.0/img/but_sluit_o.png);
}

.titelwit {
	color: #FFFFFF; font-size: 18px; text-shadow: 0 -1px 0 #666;
	font-weight: bold;
}

.but {
	-moz-border-radius: 3px 3px 3px 3px;
	background: -moz-linear-gradient(center top, #FFFFFF, #EFEFEF) repeat
		scroll 0 0 #F6F6F6; border: 1px solid #999999; cursor: pointer;
	overflow: visible; padding-left: 7px; padding-right: 7px;
	padding-bottom: 3px; padding-top: 3px; background-repeat: repeat-x;
	vertical-align: middle; white-space: nowrap; font-family: arial;
	font-size: 8pt; color: #333;
}

.but:hover {
	-moz-box-shadow: 0 0 3px #999; border-color: #666;
}

.but_grijspon {
	color: #FFFFFF; font-size: 18px; text-align: center;
	vertical-align: middle; text-shadow: 0 -1px 0 #666;
}

.but_grijspon {
	font-family: SkodaProRegular; display: block; width: 100px;
	height: 34px;
	background: transparent url(../images/feedback/but_grijspon.png)
		no-repeat; text-decoration: none; color: #FFFFFF; font-size: 0px; border:none; cursor:pointer;
	text-align: center; vertical-align: middle; padding-top: 5px;
}

.but_grijspon:hover {
	background-position: -100px 0; text-decoration: none;
}

.but_grijspon:visited {
	color: #FFF; text-decoration: none;
}

div#streepjes1 {
	height: 10px; width: 100%; border-bottom: 1px solid #E5E5E5;
}

div#streepjes2 {
	height: 10px; width: 100%; border-bottom: 1px solid #E5E5E5;
}

div#streepjes3 {
	height: 10px; width: 100%; border-bottom: 1px solid #E5E5E5;
}